*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Overpass';
}
.full_width{
    width: 100%;
}
.max-width{
    max-width: 100%;
    padding: 0 80px;
    margin: auto;
}

.navbar{  
    width: 100%;
    padding: 30px 0;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-family: 'Pacifico';font-size: 30px;
}
.navbar.logo a{
    height: 70px;
    width: fit-content;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;  
}

.navbar .menu li a{
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
}

.container{
    position: relative;
    
}
.text-block{
    position: absolute;
    bottom:265px;
    right: 60px;
    background-color:#1791A0;
    color: white; 
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.featured{
    padding-bottom: 10px;
    font-size: 35px;
}
.research{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
}


.date{
    font-size: 10px;
}
.main{
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 22px;
}

.read-more{
    font-size: 12px;
}
.text{
    font-size: 25px;
    color: #FFFF;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    max-width: 100%;
    padding: 15px;
    position: absolute;
    bottom:150px;
    right:40px;
}
.icons > ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.icons >ul >li{
    display: inline-block;
    margin:0 10px;

}
.icons >ul >li> a {
    text-decoration: none;
    color: #FFFF;
    font-size: 25px;
    
}

.container1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.text1{
    padding-left:150px ;
    padding-top: 50px;
    padding-right: 150px;
    line-height: 28px;
    font-size:large;
    padding-bottom: 50px;
}

.image{
    padding-top: 70px;
    padding-bottom: 70px; 
}
.container2{
    background-color:  #F8F8F8;
    padding-top: 70px;
    padding-bottom: 50px;
}


.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 70px;
}

.column{
    -ms-flex: 50%;
    flex: 50%;
    padding: 20px;
}

.column img{
    margin-top:25px;
    margin-right: 10px;
   padding-top: 20px;
}

.container3{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.event_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 50px;
}

.card{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 28%;
    padding-bottom: 20px;
    
}


.card:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}
._container{
    padding:2px 16px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.event_wrapper2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-top: 40px;
}

.card1{
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    padding-bottom: 20px;
    
}


.card1:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}
._container1{
    padding:2px 12px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.text2{
    padding-left:100px ;
    font-size:medium;
    padding-top: 50px;
}

.column1 {
    width: 30%;
    padding: 70px;  
  }
  
.row1 {
    display: flex;
    padding-bottom: 50px;
  }
.text3{
    padding-top: 30px;
    line-height: 20px;
  }
  
.icons2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    max-width: 100%;
    padding: 15px;
    position: absolute;
    bottom:150px;
    right:40px;
}
.icons2 > ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.icons2 >ul >li{
    display: inline-block;
    margin:0 10px;

}
.icons2 >ul >li> a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    
}

.rectangle {
    height: 100px;
    width: 520px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #9A9A9A;
  }

.txt-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.round{
    margin-left: 90px;
    display: flex;
    
}
.round-img{
    vertical-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}
.client-info{
    display: inline-block;
}

.main2{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding-right: 40px;
    margin: 50px;
   }

.partner-img{
    padding-left: 80px;
}
.card2 {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     width: 20%;
   }
   
.card2:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
   
.contain {
     padding: 10px 60px;
     
   }

.card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 95%;
    padding: 30px 30px 30px 30px;
    display: flex;
    margin-bottom:30px ;
}

._text{
    padding-left: 30px;
}
  
.card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.navbar1{  
    width: 100%;
    padding: 30px 0;
}

.navbar1 .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar1 .menu1 li{
    list-style: none;
    display: inline-block;  
}

.navbar1 .menu1 li a{
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
}

/*footer */
.footer-section{
    background-color: #3C3D41;
    padding-top: 50px;
    
}

.footer-logo{
    font-family: 'Pacifico';font-size: 30px;
    padding-left: 120px;
    color:#CCCC;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    color: blanchedalmond;
}

.footer p{
    color:#CCCC;
}

.mail{
    background-color: white;
    width: 300px;
    height: 30px;
    border-radius: 2px;
    padding-top: 5px;
    border-radius: 15px;
}

.lil-footer{
    background-color: black;
    display: flex;
    padding-left: 40px; 
    padding-top: 30px;
}

.lil-footer p{
    color: blanchedalmond;
    
}

.footer-txt{
    padding-right: 500px;
}
.icon{
    display: flex;
    justify-content: space-between;
}
.icon > p > ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.icon  >ul >li{
    display: inline-block;
    margin:0 10px;

}
.icon >ul >li> a {
    text-decoration: none;
    color: #FFFF;
    font-size: 25px;
    
}


